<div class="container mt-5" *ngIf="event; else loadingOrError">
  <h2 class="mb-3">{{ event.label }}</h2>
  <p class="text-muted">
    {{ event.address.city }} — {{ event.date | date : "longDate" }}
  </p>

  <p><strong>Catégorie :</strong> {{ formatCategory(event?.gender) }}</p>

  <p>
    <strong>Adresse :</strong><br />
    {{ event.address.street }}, {{ event.address.zipCode }}
    {{ event.address.city }}<br />
    {{ event.address.country }}
  </p>

  <p>{{ event.description || "Aucune description fournie." }}</p>

  <div class="mt-4" *ngIf="alreadyRegistered">
    <button class="btn btn-danger" (click)="handleUnregister()">
      Se désinscrire
    </button>
  </div>

  <div class="mt-4" *ngIf="!alreadyRegistered && canJoin">
    <button class="btn btn-primary" (click)="handleJoin()">S'inscrire</button>
  </div>

  <div *ngIf="!canJoin && !alreadyRegistered" class="alert alert-warning mt-3">
    🚫 Vous ne pouvez pas vous inscrire à ce tournoi.
  </div>
</div>

<ng-template #loadingOrError>
  <div class="alert alert-warning" *ngIf="error">{{ error }}</div>
  <div *ngIf="!error">Chargement...</div>
</ng-template>
