<nav class="nav">
  <a class="nav-link" [routerLink]="['']">Home</a>

  <a class="nav-link" [routerLink]="['/auth']">Connexion / Inscription</a>

  <a class="nav-link" [routerLink]="['/profile']">Mon profil</a>

  <a class="nav-link" [routerLink]="['/events']">Tournois</a>

  <a
    class="nav-link"
    *ngIf="isOrganiser"
    [routerLink]="['/organizer/dashboard']"
  >
    Organisateur
  </a>
</nav>

<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-12"></div>
  </div>
</div>
<router-outlet />
<router-outlet />
