<nav class="nav">
  <a class="nav-link" [routerLink]="['']">Home</a>

  <a class="nav-link" [routerLink]="['/login']">Se connecter</a>
  <a class="nav-link" [routerLink]="['/register']">S'enregistrer</a>
  <a class="nav-link" [routerLink]="['/profile']">Mon profil</a>

  <a class="nav-link" [routerLink]="['/events']">Tournois</a>

  <a class="nav-link" [routerLink]="['/organizer/dashboard']">Organisateur</a>
</nav>

<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-12"></div>
  </div>
</div>
<router-outlet />
<router-outlet />
